fcm/Service References/fcmServiceRef/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfFcm.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfFcm.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClientContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientFax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientUID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientContract" nillable="true" type="tns:ClientContract" />
</xs:schema>